<div id="banner">
	<table width=100% cellspacing=5 cellpadding=8 cols=2>
	<tr>
		<td valign="top" align = "left">
			<h1>iGive</h1>
			<h4>Find all you want!</h4>
		</td>
	</tr>
</table>
</div>