\body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  color: red;
  display: table;
}

#errorExplanation {
  width: 100%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/*----------------------BANNER -------------------------*/
#banner 
{ 
border-bottom: 5px dotted #; 
/* no ie mac \*/ height: 1%; /* ie win 5.5, 6 win */ 
color:#000000;
background: #ffffff; 
text-align: left; 
font-family: 'Trebuchet MS', Verdana, sans-serif; 
}

#banner-inner { padding: 0px; }

#banner a 
{ 
color: #000000;
text-decoration: none; 
}

#banner-header 
{ 
margin: 0.0em 0; 
font-size: xx-large;
}

#banner-description 
{ 
margin: 0.0em 0; 
font-size: small; 
}

/* banner image */

#banner 
{
height: 125px; 
background-image: url('../images/gradient.gif');
background-position: 0px 0px; 
background-repeat: repeat-x; 
text-align: left;

}

#banner-inner { overflow: visible; padding: 0; }

#banner-header 
{ 
position: absolute; 
left: 0; 
top: 0; 
width: 100%; 
height: 100%; 
margin: 0; 
padding: 0; 
}

#banner-header a 
{ 
display: block; 
left: 0; 
top: 0; 
height: 125px; 
text-indent: -1000em; 
}

#banner-description 
{ 
overflow: hidden; 
width: 0; 
height: 0; 
margin: 0; 
padding: 0; 
text-indent: -1000em; 
} 



/* --------------------- TABLES-------------------*/

#blue-table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#blue-table th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#blue-table td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#blue-table a 
{ 
color: #669;
text-decoration: none; 
}
#blue-table tr:hover td
{
	background: #d0dafd;
	color: #339;
}



/*--Notice Table*/

#notice-table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 8px;
  text-align : center;
}
#notice-table td
{
	font-size: 12px;
	background: #ffff80; 
 	color: #669;
}
#notice-table a 
{ 
color: #669;
background:#ffff80;
text-decoration: none; 
}
/*---------Posts Table------------------*/
#posts{
border:solid 2px #b7ddf2;
background:#e8edff;
float:center;
}
.post_list{
margin:0 auto;
width:500px;
padding:5px;	
}
#posts h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#posts p{
font-size:12px;
color:#666666;
margin-bottom:5px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:5px;
}

#posts-table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 10px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#posts-table th
{
	font-size: 11px;
	font-weight: normal;
	padding: 1px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#posts-table td
{
	font-size: 11px;
	padding: 1px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#posts-table a 
{ 
color: #669;
text-decoration: none; 
}
#posts-table tr:hover td
{
	background: #d0dafd;
	color: #339;
}

/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:350px;
padding:14px;
}

.searchresult{
margin:0 auto;
width:500px;
padding:14px;	
}

.inbox{
margin:0 auto;
width:150px;
padding:14px;
}

/* ----------- stylized ----------- */
#stylized{
border:solid 2px #b7ddf2;
background:#e8edff;
float:center;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;

width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:150px;
}
#stylized button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
/*-----------------------WEB PAGE LAYOUT---------------------*/
body {
  margin: 0px;
  padding: 0px;
}
#header {
  background: #ffffff;
  width: 100%;
}
#notice {
  background: #ffffff;
  width: 100%;
}
#leftcol {
  border:solid 2px #ffffff;/*#4573b3;*/
  background:ffffff;/*#e8edff;*/
  float: left;
  width: 19%;
  height: 500px;
}

#rightcol {
  background: #ffffffff;
  float: right;
  width: 20%;
  height: 100%;
}

#content {
  background: #fff;
  float: right;
  width: 59%;
  height: 500px;
}

#footer {
  background: #0f0;
  clear: both;
  width: 100%;
}

/*------------ MESSAGES---------------*/
#messageleftcol {
  border:solid 2px #ffffff;/*#4573b3;*/
  background:ffffff;/*#e8edff;*/
  float: left;
  width: 30%;
  height: 500px;
}
#messagecontent {
  background: #fff;
  float: left;
  width: 20%;
  height: 500px;
}